

 /*header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #407B73;
    color: #fff;
    padding: 5px;
    margin-bottom:3%;
 }
    .logo img {
        height: 50px;
        margin-right: 100px;
      }
      
 
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 30px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  .search-bar form{
    display: flex;
    margin: 0 60px;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    display:-ms-inline-flexbox;
    border: none;
  }
  
  .search-bar button {
    background-color: yellow;
    color: #333;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    display: flexbox;
  }
  
  .search-bar button:hover {
    background-color: #ddd;
  }
  .search-bar input button{
    display: flex;
  }


header .upper{
    display: flex;
    
}

main .uppermain{
    display: flex;
    margin-right:10px;
   
}*/


.bg-primary-color{
    background-color: #407B73;
}
.bg-secondary-color{
    background-color: #A6C8C1;
}
.important-color{
    color:#F48E16;
}
.highlight-color{
    background-color: #D5F5EE;
}

input:focus{
    border: 0;
}
body{
    user-select: none;
    overflow-x: hidden;
}
.footer {
    background-color: #407B73;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    
}
.logo {
    margin-bottom: 10px;
    border-radius: 20px 0 0 20px;
    margin-right: 100px;
    
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.social-icons a {
    display: inline-block;
    margin-right: 20px;
}
.social-icons img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.social-icons img:hover {
    transform: scale(1.1);
}
.links {
    margin-bottom: 30px;
    text-align: center;
    
   
}
.links a {
    
    font-size: 15px;
    display: block;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.links a:hover {
    color: #333;
}
.links1 {
    margin-bottom: 30px;
    justify-content: center;
}
.links1 a {
    font-size: 15px;
    display: block;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
.links1 a:hover {
    color: #333;
}
.subscribe {
    display: block;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 150px;
}
.subscribe input[type="email"] {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -30px;
    font-size: 16px;
}
.subscribe button {
    margin-left: 90px;
    background-color: #F48E16;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.subscribe button:hover {
    background-color: #666;
}
.subscribe img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}
.envelope{
    margin-left: 10px;
}


/* services*/
/*.services{
    background-color: chocolate;
    width:100%;
    height:auto;
    margin:35px 0;
}
.services .services_box{
    width:95%;
    margin:0 auto;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.services .services_box .service_card{
    text-align: center;
    width:310px;
    height:auto;
    box-shadow: 0 0 8px #089da1;
    padding:15px 10px;
}
.services .services_box .service_card i{
    color:#089da1;
    font-size: 45px;
    margin-bottom: 15px;
    cursor:pointer;
}

.services .services_box .service_card h3{
    margin-bottom: 10px;
    color:#fff;
}






/* About*/

/*.about{
   
    width:97%;
    height:auto;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url();
}
.about .about_image img{
    width:470px;
}
.about .about_tag h1{
font-size: 60px;
position: relative;
bottom: 35px;
color:whitesmoke;
}
.about .about_tag p{
    line-height: 22px;
    width:650px;
    text-align: justify;
    margin-bottom:15px;
    color:#fff;
    font-size: large;
}
.about .about_tag .about_btn{
    padding:10px 20px;
    background:#089da1;
    color:#fff;
    text-decoration: none;
    position:relative;
    top:50px;
}


/*books*/

/*.Featured_books{
    background-color: chocolate;
    width:100%;
    height: 70vh;
    padding:70px 0;
}
.Featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color:whitesmoke;
}
.Featured_books .Featured_book_box{
     width:95%;
     height:65vh;
     margin: 0 auto;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     overflow:hidden;
     overflow-x: scroll;
}
.Featured_books .Featured_book_box .Featured_book_card{
    width:250px;
    height:400px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin:auto 20px;
}
.Featured_books .Featured_book_box .Featured_book_car :hover{
    box-shadow: 0 0 5px #08a115;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_img img{
    width:150px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag h2{
    margin:12px;
    color:#fff;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .writer{
    color:#142899;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .catergories{
    color:#089da1;
    margin-top: 8px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    color:whitesmoke;
    margin-bottom: 15px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price sub{
    font-weight: 100;
    color:#089da1;
    padding: 0 5px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:white;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn:hover{
    color:chocolate;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px black;
}
::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}



/*books*/

/*.Featured_books{
    background-color: chocolate;
    width:100%;
    height: 70vh;
    padding:70px 0;
}
.Featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color:whitesmoke;
}
.Featured_books .Featured_book_box{
     width:95%;
     height:65vh;
     margin: 0 auto;
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     overflow:hidden;
     overflow-x: scroll;
}
.Featured_books .Featured_book_box .Featured_book_card{
    width:250px;
    height:400px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin:auto 20px;
}
.Featured_books .Featured_book_box .Featured_book_card:hover{
    box-shadow: 0 0 5px #089da1;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_img img{
    width:150px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag h2{
    margin:12px;
    color:#fff;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .writer{
    color:#142899;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .catergories{
    color:#089da1;
    margin-top: 8px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    color:whitesmoke;
    margin-bottom: 15px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .book_price sub{
    font-weight: 100;
    color:#089da1;
    padding: 0 5px;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:white;
}
.Featured_books .Featured_book_box .Featured_book_card .Featured_book_tag .f_btn:hover{
    color:red;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px black;
}
::-webkit-scrollbar-thumb{
    background: #089da1;
    border-radius: 10px;
}






/* Arrivals*/



/*.Arrivals{
    width:100%;
    height:70vh;
    margin-bottom: 35px;
}
.Arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: whitesmoke;
}
.Arrivals .Arrivals_box{
    width:95%;
    margin:0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap:25px 0;
    color:brown;
}
.Arrivals .Arrivals_box .Arrivals_card{
    width:250px;
    height:340px;
    text-align: center;
    padding:5px;
    border:1px solid #919191;
    margin: auto 20px;

}
.Arrivals .Arrivals_box .Arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrivals_image{
    width:150px;
    height:220px;
    margin:0 auto;
    cursor:pointer;
    box-shadow: 0 0 8px black;
    overflow: hidden;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrivals_image img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    transition:0.3s;
    
}
.Arrivals .Arrivals_box .Arrivals_card:hover .Arrivals_image img{
    transform:scale(1,1);
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag p{
font-family:sans-serif;
font-size: 20px;
margin:8px 0;
color: #fff;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag .Arrivals_icon{
    color:#089da1;
    margin-bottom: 18px;
}
.Arrivals .Arrivals_box .Arrivals_card .Arrival_tag .Arrivals_btn{
    padding:8px 20px;
    border:2px solid #089da1;
    text-decoration: none;
    color:#a10843;
}



/* Members*/

/*.Members{
    width:97%;
    height:auto;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-image: url();
    
}

.Members .Members_image img{
    width:250px;
    
    
}
 h1{
    text-align: center;
    font-size: 60px;
    position: relative;
    bottom: 35px;
    color:whitesmoke;
    
    }
    .Members .Members_tag h1{
        text-align: center;
        font-size: 30px;
        position: relative;
        bottom: 35px;
        color:chocolate;
    }
    .Members .Members_tag .writer{
        color: #089da1;
        font-size: 30px;
        font-weight: bold;
    }
    .Members .Members_tag .self{
        color:#fff;
        font-size:25px;
    }

 
/*--Contact--*/

/*section .container {
  
  width:97%;
  height:auto;
  padding:20px;
  display:block;
  align-items: center;
  justify-content: space-around;
  background-image: url(Qwanibooks.jpg);
  
  
}
.container p{
    color:#fff;
}
.container-box{
   
    display:flex;
}
.contact-left{
    flex-basis:60%;
    padding:40px 60px;
}
.contact-right{
    flex-basis:40%;
    padding:40px;
    
    color:#fff;
}
 h1{
    margin-bottom: 5px;
    margin-top: 10px;
    color:#fff;
}
.container p{
    margin-bottom:35px; 
    
}
.input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width:100%;
    border:none;
    border-bottom: 1px solid #ccc;
    outline:none;
    padding-bottom: 5px;
    color:#fff;
    
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline:none;
    padding:10px;
    box-sizing: border-box;
    color:#fff;

}
label{
    margin-bottom: 6px;
    display:block;
    color:chocolate;
}
button{
    background:chocolate;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
contact-left h3{

    font-weight: 600;
    margin-bottom: 30px;
}
contact-right  h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
table{
    color:#089da1;
}
h3{
    color:#fff;
}

/*--PopUp*/
/*.popup{
    width:400px;
    background:#fff;
    border-radius: 6px;
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, -50%)scale(0.1);
    text-align: center;
    padding:0 30px 30px;
    color:#fff;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility:visible;
    top: 50%;
    transform:translate(-50%, -50%)scale(1);
}

.popup img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color:#089da1;
}
.popup button{
    width:100%;
    margin-top: 50px;
    padding:10px 0;
    background: #6fd649;
    color:#fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Styles for all screen sizes */
/*body {
    font-size: 16px;
    color: #333;
  }
  
  /* Styles for screens smaller than 768px */
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  
  /* Styles for screens larger than 1200px */
  @media (min-width: 1200px) {
    body {
      font-size: 18px;
    }
  }
  