.bg-primary-color{
    background-color: #407B73;
}
.bg-secondary-color{
    background-color: #A6C8C1;
}
.important-color{
    color:#F48E16;
}
.bg-important-color{
    background-color:#F48E16;
}
.bg-highlight-color{
    background-color: #D5F5EE;
}
.bg-dark-primary{
    background-color: #26373E;
}
.text-dark-primary{
    color: #26373E;
}
*{
    user-select: none;
}
input:focus{
    border: 0;
}
body{
    overflow-x: hidden;
    color: #26373E;
    background-color: #A6C8C1;
}

/* Change the scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}


.text-hover{
    transition: all 0.3s ease-in-out;
}
.text-hover:hover{
    font-size: 110%;
    text-decoration: underline;
}